body {
	font-family: courier new;
}

	a.index {
		position: fixed;
		top: 20px;
		right: 20px;
	}

table {
		padding: 20px;
	}
	
textarea {
		width: 1000px;
		height: 50px;
		resize: none;
		overflow: auto;
	}

fieldset {
	border: 0px;
	}
	
	fieldset.choosetype {
		padding: 50px;
	}

select {
			font-family: courier new;
		}

div.option1, div.option2, div.option3, div.option4, div.option5, div.option6 {
	width: 200px;
	float: left;
}

input[type=button], input[type=submit] {
	height: 1.5em;
	font-family: courier new;
	}

td.left {
	text-align: right;
	}
	
td.right {
	padding-left: 50px;
}

td.button {
	padding-left: 10px;
}

td.preferred {
	font-size: 11px;
	text-align: center;
}

table.hobbies, table.grades, table.university {
	margin-top: -20px;
}

input.submit {
	position: fixed;
	right: 20px;
	bottom: 20px;
}

ul {
	margin: 0px;
}

li {
	list-style-type: none;
}
